@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background-image: url('/static/img/cmsm_vagao.jpg');
    height: 100vh;
    background-attachment: local;
    background-size: 100%;
}
div.container{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}
input {
    padding: 20px;
    border: none;
    outline: none;
}
.inputSubmit {
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
}
.inputSubmit:{
    cursor: pointer;
}
/*CADASTRO*/
nav.menu{
    background-color: gray;
}
