@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,600;1,700&display=swap");

* {
    overflow: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}
body {
  display: grid;
  background-size: cover;
  background-repeat: space ;
  font-family: "Nunito", sans-serif;
  height: 100vh;
}
span {
  font-size: 18px;
  margin-left: 570px;
  color: #a9a9a9;
}
span.home {
    position: center;
    font-size: 18px;
    margin-left: 500px;
    color: #a9a9a9;
}
h1{
    margin-top: 15px;
    margin-left: 450px;
    font-size: 50px;
}
.pergunta{
    background-color: #ecececdd;
    border: none;
    font-size: 14px;
    padding: 10px 12px;
    margin-top: 35px;
    margin-left: 270px;
    color: #333;
    outline: none;
    border-radius: 5px;
    size: 100px;
}
input{
    background-color: #ecececdd;
    border: none;
    margin-left: 35px;
    margin-top: 15px;
    font-size: 14px;
    padding: 10px 12px;
    width: 30%;
    color: #333;
    outline: none;
    border-radius: 5px;

}
select.disciplina{
    background-color: #ecececdd;
    border: none;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 14px;
    padding: 10px 12px;
    width: 20%;
    color: #333;
    outline: none;
    border-radius: 5px;
}
select{
    background-color: #ecececdd;
    border: none;
    margin-left: 35px;
    margin-top: 15px;
    font-size: 14px;
    padding: 10px 12px;
    width: 23%;
    color: #333;
    outline: none;
    border-radius: 5px;
}
input.envio{
  background-color: #06155f;
  border: none;
  font-size: 14px;
  padding: 10px 12px;
  width: 20%;
  color: #fff;
  border-radius: 5px;
}
input.ano{
    background-color: #ecececdd;
    border: none;
    font-size: 14px;
    padding: 10px 12px;
    margin-top: 15px;
    margin-left: 20px;
    width: 10%;
    color: #333;
    outline: none;
    border-radius: 5px;
}
.data{
    background-color: #ecececdd;
    border: none;
    font-size: 14px;
    padding: 10px 12px;
    margin-top: 15px;
    margin-left: 20px;
    width: 35%;
    color: #333;
    outline: none;
    max-width: 35%;
    border-radius: 5px;
}
p {
    color: #333;
    margin-top: 25px;
    margin-left: 50px;
    font-size: 20px;
    text-decoration: none;
}
a{
    color: #333;
    margin-top: 25px;
    margin-left: 35px;
    font-size: 20px;
    text-decoration: none;
}
a.select{
    color: #333;
    margin-top: 25px;
    margin-left: 175px;
    font-size: 14px;
    text-decoration: none;
}
.nivel{
    background-color: #ecececdd;
    border: none;
    font-size: 14px;
    padding: 10px 12px;
    margin-top: 35px;
    margin-left: 10px;
    width: 15%;
    color: #333;
    outline: none;
    max-width: 15%;
    border-radius: 5px;
}
input.pesquisa_input{
    background-color: #ecececdd;
    border: none;
    margin-left: 35px;
    margin-top: 15px;
    font-size: 14px;
    padding: 10px 12px;
    width: 35%;
    color: #333;
    outline: none;
    border-radius: 5px;
}
button.pesquisa{
    background-color: #06155f;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    width: 10em;
    margin-left: 10px;
    border: none;
    height: 3em;
    border-radius: 30px;
}
button.pergunta_home{
    background-color: #06155f;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    width: 15em;
    margin-top: 10px;
    margin-left: 485px;
    border: none;
    height: 3em;
    border-radius: 30px;
}