@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body{
    font-family: 'Bree Serif', serif;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background-image: url('/static/img/cmsm_vagao.jpg');
    height: 100vh;
    background-attachment: local;
    background-size: 100%;
}
h1{
    font-family: 'Bree Serif', serif;
    color: white;
}
h2{
    font-family: 'Bree Serif', serif;
    color: white;
}
a{
    font-family: 'Bree Serif', serif;
    color: white;
}
div.container{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}
input {
    padding: 20px;
    border: none;
    outline: none;
}
/* LOGIN E CADASTRO */
input[type='submit']{
    font-family: 'Bree Serif', serif;
    color: white;
    padding:10px;
    padding-top: 4px;
    font-size: 14px;
    border-radius: 7px 7px 7px 7px;
    size: 15px;
    display: flex;
    border-width: 2px;
    margin-left: 33%;
    }
input.views_input{
    font-family: 'Bree Serif', serif;
    padding: 10px;
    color: white;
    border-radius: 20px 20px 20px 20px;
    position: center;
    size: 10px;
    }

