{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}


<div class="row">
    <div class="col-md-12">
        <form method="POST" action="." enctype="multipart/form-data" class="class_post">
            <h2>Olá {{user}}, altere o seu perfil</h2>
            {% csrf_token %}    
            <fieldset>
                <div id="div_id_fullname" class="form-group"> 
                    <label for="id_fullname" class=""> Seu número do CM: </label> 
                <div> 
                    <input type="number" min="0" name="fullname" maxlength="40" class="numberInput form-control" id="id_fullname"> 
                </div> 
                </div> 
                    <div id="div_id_profile_pic" class="form-group"> 
                        <label for="id_profile_pic" class=""> Foto de perfil </label> 
                    <div> 
                        <input type="file" name="profile_pic" class="clearablefileinput form-control-file" id="id_profile_pic"> 
                    </div> 
                </div>
            </fieldset>
            <input type="submit" value="Atualizar"  style="margin-block:50px;">
        </form>

{% endblock content %}