/* //////////////////////////////////////  GLOBAL   ///////////////////////////////////////////////// */

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* ////////////////////////////////////////// GENERAL ////////////////////////////////////////////// */
* {
    /*font-family: "Nunito", sans-serif;*/
    font-family: 'Bree Serif', serif;
}
html{
  height: 100%;
    min-height: 100%;
}
label.search-box{
  margin-top: 15px;
  margin-bottom: 15px;
}
body{
    background-color: white;
    color: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1{
    text-align: center;
    font-family: 'Bree Serif', serif;
}
h2{
  text-align: center;
  font-family: 'Bree Serif', serif;
}
/* /////////////////////////////////////////// NAVBAR //////////////////////////////////////////////// */
.nav-bar{
  top: 0;
  background-color: #5e0101;
  width: 100%;
}
.nav-hold{
  width: 90%;
}
.nav-logo{
  float: left;
  display: block;
  padding: 30px 0px 20px 20px;
  font-weight: 600;
}
.nav-logo a{
  color: #f9f9f9;
}
.nav-items{
  float: right
}
.nav-items li{
  display:block;
  float: left;
  padding: 10px 20px;
  margin-left:10px;
}
.nav-items li a {
  color: #f9f9f9;
}
.nav-items li:hover {
  background-color:#5e010153;
  border-left:3px solid #5e010153;
  border-right:3px solid #5e010153;
}
.nav-hold{
  overflow:hidden;
}
.nav-menu{
  display: none;
}
/*media Queries*/
@media screen and (max-width: 768px){
  .nav-menu{
    display: block;
    float: right;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
  }
  .nav-items{
    width: 100%;
    float: left;
    height: 0px;
    padding:0px;
    margin:0px;
    
  }
  .nav-items li{
    width: 100%;
    display: block;
  }  
}
.nav-open{
  height: auto;
}
/*//////////////////////////////// END NAVBAR //////////////////////////////////////////////////////*/

/* ///////////////////////////////// QUESTIONS /////////////////////////////////////////////////////*/
.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}
.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color: #00000047;
}
.subforum-description *{
    margin-block: 0;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subforum-icon i{
    font-size: 45px;
}
.subforum-devider{
    display: none;
}
.subforum-title{
  color: #06155f;
}
.fa-pencil-square-o{
  color:#5e0101
}
.subforum-row{
  margin-left: 10px;
  margin-right: 10px;
}

/*/////////////////////////////////// END QUESTIONS //////////////////////////////////////*/

/*///////////////////////////// SEARCH BOX ///////////////////////////////////////////// */
.search-box{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center; 
}
select{
  background-color: #ecececdd;
    border: none;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 14px;
    padding: 10px 12px;
    width: 27%;
    color: #333;
    outline: none;
    border-radius: 5px;
}
input[name$='q']{
  background-color: #ecececdd;
  border: none;
  margin-top: 15px;
  font-size: 14px;
  padding: 10px 12px;
  width: 45%;
  color: #333;
  outline: none;
  border-radius: 5px;
}
button{
  background-color: #06155f;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    width: 3em;
    border: none;
    height: 3em;
    border-radius: 30px;
}
/*//////////////////////////////////////////////// FORUM INFOS ///////////////////////////////// */

.forum-info{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}
/*/////////////////////////////////////////////// FOOTER ////////////////////////////////////// */
footer{
  margin-top: auto;
}
.copyright-area{
  background: #b6b4b4;
  padding: 25px 0;
  margin-top: 10px;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #504f4f;
  text-align: center;
}
.copyright-text p a{
  color: #06155f;
}
/*/////////////////////////// CREATE_POST //////////////////////////////////////// */
.class_post{
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h2{
  margin: 0 0 30px 0;
  text-align: center;
}

input[name $="title"],
input[name $="tags"],
textarea,
select[id $= 'id_categories'],
select[id $= 'id_ano_escolar']{
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}
input[value $= 'Salvar']{
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #06155f;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #06155f;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label.requiredField{
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color:#06155f;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form.class_post{
    max-width: 480px;
  }
}

/* //////////////////////// END CREATE_POST /////////////////////////////////////*/
#div_id_fullname{
  text-align: center;
}
#div_id_bio{
  text-align: center;
}
#div_id_profile_pic{
  text-align: center;
}
#id_fullname{
  background-color: #ecececdd;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  padding: 10px 12px;
  width: 35%;
  color: #333;
  outline: none;
  border-radius: 5px; 
}
input[value$="Atualizar"]{
  margin: auto;
  display: block;
  margin-top: 8px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  background-color: #06155f;
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}
input[id$='id_profile_pic']{
  background-color: #ecececdd;
  border: none;
  margin-top: 15px;
  font-size: 14px;
  padding: 10px 12px;
  width: 30%;
  color: #333;
  outline: none;
  border-radius: 5px;
}
/*////////////////////////////////// DETAIL.HTML //////////////////////////////////*/

.topic-container{
  text-align: center;
}
/* ///////////////////////////////// POSTS.HTML  /////////////////////////////////*/
.table-head{
  display: flex;
}

.table-head div{
  padding: 5px;
  margin: 2px;
  background-color: #e8eeef;
  font-weight: bold;
}

.table-head .status{
  flex: 8.5%;
}

.table-head .subjects{
  flex: 72.5%;
}

.table-head .replies{
  flex: 12%;
}

.table-head .last-reply{
  flex: 15%;
}

/* posts table's body  */

.table-row{
  display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
  padding: 5px;
  margin: 2px;
  background-color: #e8eeef;
}

.table-row .status{
  flex: 5%;
  font-size: 30px;
  text-align: center;
}

.table-row .subjects{
  flex: 60%;
}

.table-row .replies{
  flex: 11%;
}

.table-row .last-reply{
  flex: 11%;
}

/* navigation path*/
.navigate{
  margin-block: 20px;
  font-weight: lighter;
  font-size: 24px;
}

.navigate a{
  color: #fff;
}

.navigate a:hover{
  color:#FF0042;
  font-weight: bolder;
}

/* Pagination*/

.pagination{
  padding: 20px;
  font-size: 15px;
}

.pagination a{
  color: #fff;
  margin-inline: 5px;
  padding: 5px 10px;
  border: solid 0.5px #fff;
}

.pagination a:hover{
  opacity: 0.5;
}

.note{
  background-color:#111314;
  padding: 20px;
  display: block;
}
.note span{
  font-size: 20px;
  margin-block: 5px;
}