/* GLOBAIS */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,600;1,700&display=swap");


/* ////////////////////////////////////////// GERAIS ////////////////////////////////////////////// */
* {
    font-family: "Nunito", sans-serif;
}
body{
    background-color: white;
    color: black;

}
h1{
    text-align: center;
}
/* /////////////////////////////////////////// NAVBAR ///////////////////////////////////////////// */

.page{  /* aqui ajusta o tamanho total da "caixa" do menu e td q é geral da caixa */
    box-sizing: border-box;
    max-width: 100%;
    color: white;
    padding-left: .75rem;
    padding-right: .75rem;
    font-size: 20px;
    text-align: center;
}
.r-link{
  display: var(--rLinkDisplay, inline-flex) !important;
}
.r-link[href]{
  color: var(--rLinkColor) !important;
  text-decoration: var(--rLinkTextDecoration, none) !important;
}
.r-list{
  padding-left: var(--rListPaddingLeft, 0) !important;
  margin-top: var(--rListMarginTop, 0) !important;
  margin-bottom: var(--rListMarginBottom, 0) !important;
  list-style: var(--rListListStyle, none) !important;
}
.menu{
  --rLinkColor: var(--menuLinkColor, currentColor);
}
.menu__link{
  display: var(--menuLinkDisplay, block);
}
.menu__link:focus{
  outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
  outline-offset: var(--menuLinkOutlineOffset);
}
.menu:hover .menu__link:not(:hover){
  --rLinkColor: var(--menuLinkColorUnactive, rgba(155, 2, 2, 0.81));
}
.menu{
  background-color: var(--menuBackgroundColor, #5e0101);
  box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgb(94, 1, 1), 0 1px 2px 0 rgb(0, 13, 68));
}
.menu__list{
    display: flex;
}
.menu__link{
  padding: var(--menuLinkPadding, 1.5rem 2.5rem);
  font-weight: 700;
  text-transform: uppercase;
}
.text-underlined{
  position: relative;
  overflow: hidden;

  will-change: color;
  transition: color .25s ease-out;
}
.text-underlined::before,
.text-underlined::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, currentColor);
  will-change: width;
  transition: width .1s ease-out;
  position: absolute;
  bottom: 0;
}
.text-underlined::before{
  left: 50%;
  transform: translateX(-50%);
}
.text-underlined::after{
  right: 50%;
  transform: translateX(50%);
}
.text-underlined:hover::before,
.text-underlined:hover::after{
  width: 100%;
  transition-duration: .2s;
}
.page__custom-settings{
  --menuBackgroundColor: #000d44;
  --menuLinkColor: #ffffff;
  --menuLinkColorUnactive: #000d44;
  --menuLinkOutlineOffset: -.5rem;
}
.page__menu:nth-child(n+2){
  margin-top: 3rem;
}
.substack{
  border:1px solid #000d44;
  background-color: #5e0101;
  width: 100%;
  max-width: 480px;
  height: 280px;
  margin: 1rem auto;;
}
.linktr{
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  text-align: center;
}
.linktr__goal{
  background-color: rgb(0, 13, 68);
  color: rgb(255, 255, 255);
  box-shadow: rgb(0, 13, 68) 0px 2px 8px 0px;
  border-radius: 2rem;
  padding: .75rem 1.5rem;
}
.r-link{
    --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
    --uirLinkTextColor: var(--rLinkTextColor);
    --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
    display: var(--uirLinkDisplay) !important;
    color: var(--uirLinkTextColor) !important;
    text-decoration: var(--uirLinkTextDecoration) !important;
}
.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}
.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color: #000d44;
}
.subforum-description *{
    margin-block: 0;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subforum-icon i{
    font-size: 45px;
}
.subforum-devider{
    display: none;
}

