{% load static %}
<!--HTML Base para os outros templates do app-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
    {{ form.media }}
</head>

<body>
    <header>
        <!-- MENU DE NAVEGAÇÃO -->
        <div class="page">
              <nav class="page__menu menu">
                <ul class="menu__list r-list">
                {% if user.is_authenticated %}
                  <li class="menu__group"><a href="{% url 'home' %}" class="menu__link r-link text-underlined">Home</a></li>
                  <li class="menu__group"><a href="{% url 'logout' %}" class="menu__link r-link text-underlined">Sair</a></li>
                  <li class="menu__group"><a href="{% url 'search_result' %}" class="menu__link r-link text-underlined">Buscar</a></li>
                  <li class="menu__group"><a href="{% url 'create_post' %}" class="menu__link r-link text-underlined">Perguntar</a></li>  
                  <li class="menu__group"><a href="{% url 'update' %}" class="menu__link r-link text-underlined">Alterar perfil</a></li>
                  <li class="menu__group"><a href="{% url 'admin:index' %}" class="menu__link r-link text-underlined">admin</a></li>
                  {% endif %}
                </ul>
              </nav>
        </div>
        <!--END MENU NAVEGAÇÃO -->
    
            <h1> ESTUDA VAGÃO </h1>
    
        <!-- CAIXA DE PESQUISA -->
                <form action="{% url 'search_result' %}" role="form" method="GET">
                <div class="search-box">
                    <div>
                        <label>
                            <select name="search-box" id="">
                                <option value="Everything">Tudo</option>
                                <option value="Titles">Títulos</option>
                                <option value="Descriptions">Perguntas</option>
                            </select>
                        </label>
                        <label>
                            <input type="text" name="q" placeholder="pesquise...">
                        </label>
                        <button type="submit" name="search"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                </form>
    <!-- END CAIXA DE PESQUISA -->
    
    </header>
    {% if messages %}
        {% for message in messages %}
            <div> {{message}} </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}
    <div style="margin-bottom: 150px;"></div>
    <footer>
        <span>&copy;  Estuda Vagão - CMSM | Todos os Direitos Reservados</span>
    </footer>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>