{% extends 'base.html' %}
{% load hitcount_tags %}
{% block content %}

    <div class="container-detail">
        <!--Navegação-->
        <div class="navigate">
            <span><a href="{% url 'home' %}">Estuda Vagão - CMSM</a> >> <a href="{{post.categories.all.0.get_url}}">{{post.categories.all.0}}</a> >> <a href="{{post.get_url}}">{{post.title}}</a></span>
        </div>

        <!--Seção de tópicos-->
            <div class="posts-table">
                <div class="table-head">
                    <div class="autor">Autor</div>
                    <div class="topico"> Pergunta </div>
                    <div class="perguntad"> Topico </div>
                </div>

                <div class="table-row">
                    <div class="autor">{{post.user.fullname|title}}</div>
                    <div class="topico"> <a>{{post.content|safe}}</a></div>                              
                    <div class="perguntad"> {{post.title}} (Read {% get_hit_count for post %} Times) </div>
                  
                </div>

            </div>
        </div>

        <!--Área de Comentário-->
        {% if post.closed == True %}
        <div style="background-color:#fff;color:#000;font-weight:bolder;padding:20px;width:100%;"> This Topic Is Closed! </div>
        {% else %}
        {% if request.user.is_authenticated %}
        <form action="." method="post">
            {% csrf_token %}
            <div class="comment-area hide" id="comment-area">
                <textarea name="comment" id="" placeholder="Responda esta pergunta "></textarea>
                <input type="submit" value="Responder" name="comment-form">
            </div>
        </form>
        {% else %}
        <div style="background-color:#fff;color:#000;font-weight:bolder;padding:20px;width:100%;"> Você precisa <a href="{% url 'signin' %}"><b>logar</b></a> para comentar ou respoder! </div>        

        {% endif %}

        {% endif %}

        <!--Comments Section-->

        {% for comment in post.comments.all %}
        <div class="resp-container">
            <div class="body">
                <div class="authors">
                    {% if comment.user and comment.user.profile_pic and comment.user.profile_pic.url %}
                        <img src="{{reply.user.profile_pic.url}}" alt="">
                    {% else %}
                        <img src="\media\authors\imagem_2024-01-11_194744907.png">
                    {% endif %}
                    <div class="username"><a href="">{{comment.user.fullname|title}}</a></div>
                <div class="content">
                    Resposta: {{comment.content}}
                    <br>
                    {% if request.user.is_authenticted %}
                    <div class="comment">
                        <button onclick="showReplies('comment{{comment.id}}')">Responda</button>
                    </div>
                    {% endif %}
                </div>
                </div>
            </div>
        <!--Área de Responder-->
        <form action="." method="post">
            {% csrf_token %}
            <div class="comment-area hide" id="comment{{comment.id}}">
                <textarea name="reply" id="" placeholder="Comente essa resposta "></textarea>
                <input type="submit" value="Comentar" name="reply-form">
                <input type="hidden" name="comment-id" value="{{comment.id}}">
            </div>
        </form>
    </div>
        <!--Seção de responder-->
        {% for reply in comment.replies.all %}
        <div class="comments-container">
            <div class="body">
                <h5>Comentários da resposta: </h5>
                <div class="authors">
                    {% if reply.user and reply.user.profile_pic and reply.user.profile_pic.url %}
                    <img src="{{reply.user.profile_pic.url}}" alt="Erro ao carregar imagem de perfil">
                    {% else %}
                    <img src="\media\authors\imagem_2024-01-11_194744907.png">
                    {% endif %}
                    <div class="username"><a href="">{{reply.user.fullname|title}}</a></div>
                    <div class="content">
                        Comentario: {{reply.content}}
                        <br>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}

        </div>
    {% endblock content %}