{% extends 'base.html' %}
{% load hitcount_tags %}
{% block content %}

    <div class="container-detail">
        <!--Navegação-->
        <div class="navigate">
            <span><a href="{% url 'home' %}">Estuda Vagão - CMSM</a> >> <a href="{{post.categories.all.0.get_url}}">{{post.categories.all.0}}</a> >> <a href="{{post.get_url}}">{{post.title}}</a></span>
        </div>

        <!--Seção de tópicos-->
            <div class="posts-table">
                <div class="table-head">
                    <div class="autor">Autor</div>
                    <div class="topico"> Pergunta </div>
                    <div class="perguntad"> Topico </div>
                </div>

                <div class="table-row">
                    <div class="autor">{{post.user.fullname|title}}</div>
                    <div class="topico"> <a>{{post.content|safe}}</a></div>                              
                    <div class="perguntad"> {{post.title}} (Read {% get_hit_count for post %} Times) </div>
                  
                </div>

            </div>
        </div>
        <!--Área de Comentário-->
        <h4> Você pode comentar ou responder esta pergunta! </h4>
        <div class='box'>

            {% if post.closed == True %}
            <div style="background-color:#fff;color:#000;font-weight:bolder;padding:20px;width:100%;"> This Topic Is Closed! </div>
            {% else %}
            {% if request.user.is_authenticated %}
            <div class='box-row'>
                <div class="box-cell box1">
                    <form action="." method="post">
                        {% csrf_token %}
                        <div class="comment-area hide" id="comment-area">
                            <textarea name="comment" id="" placeholder="Comentar esta pergunta como: {{user}} "></textarea>
                            <input type="submit" value="Comentar" name="comment-form">
                        </div>
                    </form>
                    {% else %}
                        <div style="background-color:#fff;color:#000;font-weight:bolder;padding:20px;width:100%;"> Você precisa <a href="{% url 'signin' %}"><b>logar</b></a> para comentar ou respoder! </div>        
                    {% endif %}
                    {% endif %}

                    {% for comment in post.comments.all %}
                    <div class="container-detail">
                        <div class="body">
                                {% if request.user.is_authenticted %}
                                <div class="comment">
                                    <button onclick="showReplies('comment{{comment.id}}')">Responda</button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!--Área de Responder-->
                <div class="box-cell box2">
                    <form action="." method="post">
                        {% csrf_token %}
                        <div class="comment-area hide" id="comment{{comment.id}}">
                            <textarea name="reply" id="" placeholder="Respoder esta pergunta como: {{user}}"></textarea>
                            <input type="submit" value="Responder" name="reply-form">
                            <input type="hidden" name="comment-id" value="{{comment.id}}">
                        </div>
                    </form>

                    {% for reply in comment.replies.all %}
                    <div class="comments-container" style="width: 95%; margin-left:5%;">
                        <div class="body">
                                <br>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock content %}