{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="subforum">
            {% if forums %}
                <div class="subforum-title">
                    <h1>Estuda Vagão</h1>
                </div>

                {% for forum in forums %}
                    <div class="subforum-row">
                        <div class="subforum-icon subforum-column center">
                            <i class="fa fa-gamepad"></i>
                        </div>
                        <div class="subforum-description subforum-column">
                            <h4><a href="{{forum.get_url}}">{{forum.title}}</a></h4>
                            <p>Descrição: {{forum.description}} </p>
                        </div>
                        <div class="subforum-stats subforum-column center">
                            <span>{{forum.num_posts}} questões</span>
                        </div>
                        <div class="subforum-info subforum-column">
                            {% if forum.last_post %}
                                <b><a href="{{forum.last_post.get_url}}">Última questão</a></b> por <a href="">{{forum.last_post.user.fullname|title}}</a> 
                                <br>Em <small>{{forum.last_post.date|date}}</small>
                            {% else %}
                                <span>Nenhuma questão para essa disciplina.</span>
                            {% endif %}
                        </div>
                    </div>

                {% endfor %}
            {% else %}
                <div class="subforum-title">
                    <h3><i class="fa fa-frown-o"></i>&nbsp;Você não possui questões ainda.</h3>
                </div>
            {% endif %}
        </div>
        
        
        
    </div>

    <!-- Informações do Fórum -->
    <div class="forum-info">
        <div class="chart">
            Estuda Vagão - Estatísticas &nbsp;<i class="fa fa-bar-chart"></i>
        </div>
        <span><u>{{num_posts}}</u> perguntas para <u>{{num_categories}}</u> disciplinas por <u>{{num_users}}</u> estudantes.</span><br>
        {% if forums %}
            <span>Última pergunta: <b><a href="{{last_post.get_url}}">{{last_post.title}}</a></b> em {{last_post.date|date}} por <a href="">{{last_post.user.fullname|title}}</a></span>.<br>
            <span>Cheque <a href="{% url 'latest_posts' %}">as últimas perguntas</a> .</span><br>
        {% endif %}
    </div>

    {% endblock content %}