<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estuda Vagão</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <div class="subforum">
            <div class="subforum-title">
                <h1>Estuda Vagão</h1>
            </div>
            <div class="subforum-linhas">
                <div class="subforum-icone">
                    <i class="fa fa-car"></i>
                </div>
                <div class="subforum-descricao">
                    <h1><a href="">Descrição do Título: </a></h1>
                    <p>Descrição do Conteúdo: ... </p>
                </div>
                <div class="subforum-stats">
                    <b><a href="">Última questão publicada</a></b> por <a href="">UsuárioX</a>
                    <br>
                    Em <small> 00/00/00 </small>
                </div>
            </div> 
        </div>  
    </div>



    <script scr="main.js"></script>
</body>
</html>
