<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login | EstudaVagão</title>
</head>

<body>
    <div class="container">
        {% csrf_token %}
         <div class="container">
    <!-- sign in form section start-->
            <div class="form sign_in">
                <h1> HOME PAGE TEST AFTER MAKE SIGN IN OR SIGN UP </h1>
            </div>
         </div>
    </div>
</body>
</html>