<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_pages.css' %}">
    <title>Pergunte | EstudaVagão</title>
</head>
<body>
    <div class="container">
        <div class="container2">
            <h1> ESTUDA VAGAO </h1>
            <span>Faça sua pergunta</span>
            <br>
            <br>
            {% block content %}
            <form method="post">
                {% csrf_token %}
                <label>
                    {{ form.pergunta }}
                </label>
                <br> <br>
                <label>
                    {{ form.autor }}
                </label>
                <label>
                    <a class="select"> Ano:{{ form.ano }}</a>
                </label>
                <label>
                    <a class="select">Nivel:{{ form.nivel }}</a>
                </label>
                <label>
                    <a class="select">Disciplina:{{ form.disciplina }}</a>
                </label>
                <br>
                <label>
                    <a class="select"> Data e hora: {{ form.data_envio }}</a>
                </label>
                {% endblock %}
                <label><input type="submit" value="Register" class="envio"></label>
            </form>
        </div>
    </div>
</body>
</html>