{% extends 'base.html' %}
{% load hitcount_tags %}
{% block content %}
    <div class="container">
        <!--Navevegação-->
        <div class="navigate">
            <span><a href="{% url 'home' %}">Estuda Vagão - CMSM</a> >> <a href="{{forum.get_url}}">{{forum.title}}</a></span>
        </div>
        {% if posts %}
            <!--Mostra tabela de perguntas-->
            <div class="posts-table">
                <div class="table-head">
                    <div class="status">Status</div>
                    <div class="subjects">Assuntos</div>
                    <div class="replies">Respostas/Visualizações</div>
                    <div class="last-reply">Última resposta</div>
                </div>

                {% for post in posts %}
                <div class="table-row">

                    {% if post.closed == True %}
                    <div class="status"><i class="fa fa-lock"></i></div>
                    {% elif post.num_comments == 0 %}
                    <div class="status"><i class="fa fa-frown-o"></i></div>
                    {% elif post.num_comments > 0 and post.num_comments < 2 %}
                    <div class="status"><i class="fa fa-book"></i></div>
                    {% elif post.num_comments > 2 and post.num_comments < 4 %}
                    <div class="status"><i class="fa fa-rocket"></i></div>
                    {% elif post.num_comments >= 4 %}
                    <div class="status"><i class="fa fa-fire"></i></div>
                    
                    {% endif %}

                    <div class="subjects">
                        <a href="{{post.get_url}}">{{post.title}}</a>
                        <br>
                        <span>Iniciado por <b><a href="">{{post.user.fullname|title}}</a></b> .</span>
                    </div>
                    <div class="replies">
                        {{post.num_comments}} Comentários <br> {% get_hit_count for post %} visualizações
                    </div>

                    {% if post.last_reply %}
                    <div class="last-reply">
                        {{post.last_reply.date|date}}
                        <br>By <b><a href="">{{post.last_reply.user.fullname|title}}</a></b>
                    </div>
                    {% else %}
                    <div class="last-reply">
                        {{post.date|date}}
                        <br>Por <b><a href="">{{post.user.fullname|title}}</a></b>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
            <div class="subforum-title">
                <h1><i class="fa fa-frown-o"></i>&nbsp;você não tem perguntas ainda.</h1>
            </div>
            {% endif %}
            
        </div>
        <!--início da paginação-->
            {% if posts.is_paginated %}
                <div class="pagination">
                    páginas: {% for num_page in posts.paginator.page_range %} <a href="?page={{num_page}}">{{num_page}}</a> {% endfor %}
                </div>
            {% endif %}
        <!--fim da paginação-->
    </div>
    {% endblock content %}