<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
            {% csrf_token %}

    <!-- sign in form section start-->
      <div class="form sign_in">
        <form action="#">
          <!-- heading -->
          <h1>Crie sua conta</h1>
              <label><input name="name" type="text" placeholder="User Name"></label>
              <label><input  name="numero" type="text" placeholder="numero"></label>
              <label><input  name="ano" type="text" placeholder="ano"></label>
              <label><input name="senha" type="password" placeholder="Password"></label>
              <label><input name="perfil_photo" type="image" alt=""></label>
              <button>Create Account</button>
          <!-- input fields end -->
        </form>
    </div>
    <!-- sign in form section end-->

    <!-- overlay section start-->
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-pannel overlay-right">
          <h1>Bem vindo ao Estuda Vagao</h1>
          <p>Plataforma desenvolvida por alunas do CMSM, para os alunos do CMSM</p>
        </div>
        </div>
      </div>
    </div>
    <!-- overlay section start-->
  </div>
</body>
</html>