<!DOCTYPE html>
<html lang="pt">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Estuda Vagão</title>
    </head>
    <body>
      {% if form.errors %}
      <p>Há um erro com seu formulário...</p>
      {% endif %}
        <div class="container">
          <form action="" method="POST">
            {% csrf_token %}
            <h1>Cadastre-se</h1>
            {{ form.as_p }}
            <br>
            <input type="submit" value="register">
            <hr>   
          </form>
        </div>
    </body>
</html>