<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responda | EstudaVagão</title>
</head>
<body>
    <div class="container">
        <div class="container2">
            <h1>Responda</h1>
            <span></span>
            <br>
            <br>
            {% block content %}
            <form method="post">
                {% csrf_token %}
                
                {% endblock %}
            </form>
        </div>
    </div>
</body>
</html>