{% extends 'base.html' %}
{% load hitcount_tags %}
{% block content %}
    <div class="container">
        <!--Navegação-->
        <div class="navigate">
            <span>Pesquisa: {{query}} --> {{objects|length}} perguntas(s) encontradas</span>
        </div>
        <!--Mostra tabela de perguntas-->
        <div class="posts-table">
            <div class="table-head">
                <div class="status">Status</div>
                <div class="subjects">Disciplinas</div>
                <div class="replies">Respostas/Visualizações</div>
                <div class="last-reply">Últimas Respostas</div>
            </div>

            {% for post in objects %}
            <div class="table-row">
                <div class="status"><i class="fa fa-fire"></i></div>
                <div class="subjects">
                    <a href="{{post.get_url}}">{{post.title}}</a>
                    <br>
                    <span>Iniciado por <b><a href="">{{post.user.fullname|title}}</a></b> .</span>
                </div>
                <div class="replies">
                    {{post.num_comments}} comentários <br> {% get_hit_count for post %} visualizações
                </div>

                {% if post.last_reply %}
                <div class="last-reply">
                    {{post.last_reply.date|date}}
                    <br>Por <b><a href="">{{post.last_reply.user.fullname|title}}</a></b>
                </div>
                {% else %}
                <div class="last-reply">
                    {{post.date|date}}
                    <br>By <b><a href="">{{post.user.fullname|title}}</a></b>
                </div>
                {% endif %}
            </div>
            {% endfor %}

            
            
        </div>
        <!--Início da paginação-->
            {% if objects.is_paginated %}
            <div class="pagination">
                páginas: {% for num_page in posts.paginator.page_range %} <a href="?page={{num_page}}">{{num_page}}</a> {% endfor %}
            </div>
            {% endif %}
        <!--fim da paginação-->
    </div>

    {% endblock content %}